#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    width: 100%;
   }

#inspire {
font-family: 'Avenir', Helvetica, Arial, sans-serif;
}
.container.fill-height {
align-items: normal;
}
a.side_bar_link {
text-decoration: none;
}
.card__title--primary, .card__text {
text-align: left;
}
.card {
height: 100% !important;
}

.swal-footer{
    text-align: center !important;
}

#acceptBtn {
    color: white !important;
    text-align: center;
}

.btnBox {
    text-align: center !important;
}


  #user_email, #register_btn, #login_btn, #logout_btn {
    background-color: transparent !important;
  }


  .v-card:not(.v-sheet--tile):not(.v-card--shaped) {
    min-height: 250px !important;
}

.v-card__title {
  font-size: 12px !important;
}
.headline {
  font-size: 25px;
}


@media only screen and (max-width: 959px){
  .v-application .hidden-sm-and-down {
      display: block !important;
  }

  .flex.xs4 {
    flex-basis: 50%;
    flex-grow: 0;
    max-width: 50%;
  }

}


@media only screen and (max-width: 650px){
  .flex.xs4 {
    flex-basis: 90%;
    flex-grow: 0;
    max-width: 90%;
    margin: 5% 2% 0 2%;
  }

  .col-8 {
    display: block;
    flex: 0px;
    max-width: 100%;
  }
  .v-toolbar__title {
    display: none;
  }

}

#text-box {
  margin: 0 auto;
}